<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>*chan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="main">
        <h1>*chan</h1>
        <a href="https://www.fbi.gov/"><img class="banner" src="/kekOverload.gif" alt="banner" /></a><br>
        <a href="#" @click="form = !form" style="line-height: 3;">[Create thread]</a>
        <form class="formDiv" method="POST" v-if="form">
            <input v-model='username' type="text" name="username" placeholder="username" >
            <input v-model='title' type="text" name="title" placeholder="title" >
            <textarea v-model='description' name="description" placeholder="description" cols="50" rows="5" ></textarea>
            <input @change='selectFile' type="file" name="file" accept="image/*">
            <button @click.prevent.default="upload">Upload</button>
        </form>
        <div class="image--collection">
            <div class="image--container" v-for="image in images" @click="display" :class="{ activeclass: image.isActive }" >
                <img :key="image.id" :src="image.url" :alt="image.title" :id="image.id" @click="e => e.target.parentElement.classList.contains('activeclass') == '' && turn(image)" style="cursor: pointer;" class="picture">
                <div class="originalPost">
                    <p class="originalPost--header"><span class="title">{{image.title}}</span> <span class="user">{{image.username}}</span> {{image.created_at}}</p>
                    <p class="originalPost--text">{{image.description}}</p>
                    <Component1  v-if="show && image.isActive" :image-id="show" @close="turn(image)"></Component1>
                </div>
            </div>
        </div>
        <button v-if="btn" class="morePics" @click="morePics">[More]</button>
        <p class="disclaimer">All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.</p>
    </div>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>
